body {
<<<<<<< HEAD
  background: #a8ff78;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
=======
    background-color: #99BE9F;
>>>>>>> 6d08d13e1dea4fb9df5db091221ab7a8847be166
    text-align: center;
    margin: 20px;
  }
  
  #title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px
  }
  
  #description {
    font-size: 20px;
  }
  
  
  .county-borders {
    fill: none;
    stroke: white;
  }
  
  #tooltip {
    position: absolute;
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    border: solid;
    pointer-events: none;
  }